<h1>Welcome {{user.firstName}}</h1>
<h4>Your Stories</h4>

{{#if stories}}
    <table class="striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Status</th>
                <th>Allow Comments</th>
            </tr>
        </thead>
        <tbody>
            {{#each stories}}
                <tr>
                    <td><a href="/stories/show/{{_id}}">{{truncate title 50 '....'}}</a></td>
                    <td>{{formatDate date 'MMMM Do YYYY'}}</td>
                    <td><span class="capital">{{status}}</span></td>
                    {{!-- <td>{{allowComments}}</td> --}}
                    <td>
                        <a href="/stories/edit/{{_id}}" class="btn dash-btn"><i class="fas fa-pencil-alt"></i> Edit</a>
                        <form action="/stories/{{_id}}?_method=DELETE" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn red dash-btn"><i class="fas fa-trash-alt"></i> Delete</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <p>You Have Not Created Any Story Yet</p>
{{/if}}